<div class="head">
    <h1>BROWSE OUR SHOP</h1>
</div>
<div class="container">
    <div class="product">
        <img src="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Laptops">
        <h3>Laptops</h3>
        <p>Get the best Laptops Online from Reliance Digital. Shop from top Laptop Brands like Apple, HP, Lenovo, Dell, iBall & more.</p>
        <button type="button" class="btn" routerLink="/products/productsample">BUY NOW</button>
    </div>
    <div class="product">
        <img src="https://images.unsplash.com/photo-1556656793-08538906a9f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Mobile Phones">
        <h3>Mobile Phones</h3>
        <p>Find mobiles online in India from latest & popular brands with price. Get news, deals and videos related to mobiles.</p>
        <button type="button" class="btn" routerLink="/products/productsample">BUY NOW</button>
    </div>
    <div class="product">
        <img src="https://images.unsplash.com/photo-1461151304267-38535e780c79?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=890&q=80" alt="TV">
        <h3>TVs</h3>
        <p>Buy the latest LED TVs online at low prices. Shop from a wide range of televisions from Sony, LG, Philips and more.</p>
        <button type="button" class="btn" routerLink="/products/productsample">BUY NOW</button>
    </div>
    <div class="product">
        <img src="https://images.unsplash.com/photo-1551781079-6e588ca249f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="printer">
        <h3>Printers</h3>
        <p>Shop for inkjet printers, ink tank printers, laser printers and printer cartridges from top brands at Amazon India.</p>
        <button type="button" class="btn" routerLink="/products/productsample">BUY NOW</button>
    </div>
</div>