.container {
    position: relative;
    font-size: 30px;
    background-color: pink;
    width: 90vw;
    height: 50vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

p{
    position: relative;
    top: 45%;
}